<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.origin.aimodel.dao.mapper.AiModelMapper">
  <resultMap id="BaseResultMap" type="com.origin.aimodel.domain.mp.AiModelMp">
    <!--@mbg.generated-->
    <!--@Table dim_ai_model-->
    <id column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="origin_name" jdbcType="VARCHAR" property="originName" />
    <result column="base_url" jdbcType="VARCHAR" property="basUrl" />
    <result column="point" jdbcType="VARCHAR" property="point" />
    <result column="authorization" jdbcType="VARCHAR" property="authorization" />
    <result column="template_attribute_mapping" jdbcType="VARCHAR" property="templateAttributeMapping" />
    <result column="alias_mapping_json_plus" jdbcType="VARCHAR" property="aliasMappingJsonPlus" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    model_name, origin_name, base_url, point, authorization, template_attribute_mapping, 
    alias_mapping_json_plus, created_by, created_time, updated_by, updated_time, 
    del_flag
  </sql>
</mapper>