<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.origin.aimodel.dao.mapper.DimDictionaryMappingMapper">
    <resultMap id="BaseResultMap" type="com.origin.aimodel.domain.mp.DimDictionaryMappingMp">
        <!--@mbg.generated-->
        <!--@Table dim_dictionary_mapping-->
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="post_param" jdbcType="VARCHAR" property="postParam"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `key`,
        post_param,
        description,
        item_id,
        created_by,
        created_time,
        updated_by,
        updated_time,
        del_flag
    </sql>
</mapper>
